.card { font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 395px;
  height: 520px;
}

.header {
  max-height: 112px;
  height: 100%;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.heading h2 {
  font-size: 30px;
  font-weight: 500;
}

.heading p {
  font-size: 18px;
  font-weight: 400;
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

/*   */

.planText, .altPrice{
  width: 100%;
  height: 25px;
}

.planText{
  display: flex;
  justify-content: end;
}

.selected {
  width: fit-content;
  font-size: 14px;
  color: var(--white);
  padding: 5px 10px;
  background-color: #3ba5e0;

  border-radius: 10px;
}

.infoTexts{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  font-weight: 500;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.regular {
  color: var(--grey);
  font-size: 25px;
  text-decoration: line-through;
}

.alt {
  font-size: 18px;
  margin-top: 10px;
}

.plan {
  margin-top: 50px;
}

.plan h4 {
  font-size: 20px;
}

.plan ul {
  margin-top: 10px;
}

.plan ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}

.btn {
  margin-top: auto;
}
.img {
  width: 93px;
}

@media (max-width: 768px) {
  .card{
    width: 335px;
    height: 512px;
  }
}