.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 133px;
  height: 158px;
  /* border-right: 1px solid #949494; */

  &::after {
    content: "";
    height: 124px;
    width: 2px;
    position: absolute;
    right: 0;
    top: 15%;

    background-color: #94949450;
  }
}

.slide p {
  font-size: 20px;
  color: var(--black);
}
