.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop {
  height: 93px;
  width: 100%;
}

.mobile {
  width: 100%;
  display: none;
}

@media (max-width: 768px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
}
