.heading {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.header h1 {
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Ferry", sans-serif;
  font-weight: 900;
}

.header p {
  line-height: 1.3;
  margin-top: 15px;
  font-size: 20px;
}

.image1 {
  position: absolute;
  right: 30%;
}

.image2 {
  position: absolute;
  right: 5%;
}

.parameter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px){
  .header h1{
    font-size: 30px;
  }
  .image1, .image2{
    display: none;
  }
  .parameter{
    flex-direction: column;
  }
  .search3{
    margin-top: 50px;
    max-width: 450px; 
    width: 100%;
  }
}