.checkboxContainer {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  border-radius: 3px;
  margin-right: 8px;
  position: relative;
  cursor: pointer;
}

.checkboxContainer input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid green;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
